body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.label{
    font-size: 17px;
}

.legend text,
.axis text {
    font-size: 14px;
    fill: #333;
}

.axis path,
.axis line{
    fill: none;
    stroke-width: 1px;
    stroke: #777;
}

.circle{
    fill-opacity: 0.75;
}

.bubble{
    opacity: 1;
    transition: opacity 0.5s;
}

.legend rect{
    fill-opacity: 0.75;
}